{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"testGroup0a2cb7c27-e8c2-47d4-96c4-2f0e425c3006\",\r\n  \"mailNickname\": \"testGroup0a2cb7c27-e8c2-47d4-96c4-2f0e425c3006tester\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/0f7dcd29-9aad-45b1-a01c-446f573ad2a5/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "XOs9gGfyH50gS8B3zPgeXNS3pfhaVVLdmqEFzm9FoHE="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "gb96IBPoW1afxFcU2wVuUvqE_vUquM7PH5FT0l9tCVpWtwZNdV4KTu1ScUSyehNVkXUKBJ83xY_5A_rE7RNkqOYbWXVXfPD8B95xu3m1F0BWaZYt-5t8GqVG4Kuj6r3fGD3oylVsDfIyKU1kNW3VEA.eSjNqwj-pGdoYjH-I68yHNXYauo8xoc_y8LEgQvCLtA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1352711"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"0f7dcd29-9aad-45b1-a01c-446f573ad2a5\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"testGroup0a2cb7c27-e8c2-47d4-96c4-2f0e425c3006\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"testGroup0a2cb7c27-e8c2-47d4-96c4-2f0e425c3006tester\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"testUser0d9f182c1-fa42-429f-a0f1-d001643833db\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"Test12345\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"testUser0d9f182c1-fa42-429f-a0f1-d001643833db@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"testUser0d9f182c1-fa42-429f-a0f1-d001643833dbtest\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/31378775-5949-43cf-a148-cb7d9e9d1f96/Microsoft.DirectoryServices.User"
        ],[...]
[...]
