{
  "Entries": [
    {
      "RequestUri": "//subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/resourcegroups/AzureAuthzSDK/providers/Microsoft.Authorization/denyAssignments/43af7d0c-0bf8-407f-96c0-96a29d076431?api-version=2018-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"denyAssignmentName\": \"AzureAuthzSDK_43AF7D0C-0BF8-407F-96C0-96A29D076431\",\r\n    \"description\": \"Test deny assignment for AzureAuthzSDK\",\r\n    \"permissions\": [\r\n      {\r\n        \"actions\": [\r\n          \"foo/*\"\r\n        ],\r\n        \"notActions\": [\r\n          \"foo/*/read\"\r\n        ],\r\n        \"dataActions\": [\r\n          \"foo/*\"\r\n        ],\r\n        \"notDataActions\": []\r\n      }\r\n    ],\r\n    \"scope\": \"/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/resourcegroups/AzureAuthzSDK\",\r\n    \"doNotApplyToChildScopes\": false,\r\n    \"principals\": [\r\n      {\r\n        \"id\": \"f8d526a054eb4941ae69ebf4a334d0f0\",\r\n        \"type\": \"User\"\r\n      },\r\n      {\r\n        \"id\": \"f2dc21ac702a4bdea4ce146edf751d81\",\r\n        \"type\": \"ServicePrincipal\"\r\n      }\r\n    ],\r\n    \"excludePrincipals\": [],\r\n    \"isSystemProtected\": true,\r\n    \"createdOn\": \"2018-09-20T19:03:38.8383507Z\",\r\n    \"updatedOn\": \"2018-11-15T21:50:20.4521666Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": null\r\n  },\r\n  \"id\": \"/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/resourcegroups/AzureAuthzSDK/providers/Microsoft.Authorization/denyAssignments/43af7d0c-0bf8-407f-96c0-96a29d076431\",\r\n  \"type\": \"Microsoft.Authorization/denyAssignments\",\r\n  \"name\": \"43af7d0c-0bf8-407f-96c0-96a29d076431\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f"
  }
}