{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/resourcegroups/AzureAuthzSDK/providers/Microsoft.Storage//storageAccounts/authzsdktestresource/providers/Microsoft.Authorization/denyAssignments?api-version=2018-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"denyAssignmentName\": \"AzureAuthzSDK_94E3D9DA-3700-4113-AAB4-15F6C173D794\",\r\n        \"description\": \"Test deny assignment for AzureAuthzSDK\",\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"foo/*\"\r\n            ],\r\n            \"notActions\": [\r\n              \"foo/*/read\"\r\n            ],\r\n            \"dataActions\": [\r\n              \"foo/*\"\r\n            ],\r\n            \"notDataActions\": []\r\n          }\r\n        ],\r\n        \"scope\": \"/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/resourceGroups/AzureAuthzSDK/providers/Microsoft.Storage/storageAccounts/authzsdktestresource\",\r\n        \"doNotApplyToChildScopes\": false,\r\n        \"principals\": [\r\n          {\r\n            \"id\": \"f8d526a054eb4941ae69ebf4a334d0f0\",\r\n            \"type\": \"User\"\r\n          },\r\n          {\r\n            \"id\": \"f2dc21ac702a4bdea4ce146edf751d81\",\r\n            \"type\": \"ServicePrincipal\"\r\n          }\r\n        ],\r\n        \"excludePrincipals\": [],\r\n        \"isSystemProtected\": true,\r\n        \"createdOn\": \"2018-11-15T00:22:29.627653Z\",\r\n        \"updatedOn\": \"2018-11-15T21:50:22.7755452Z\",\r\n        \"createdBy\": null,\r\n        \"updatedBy\": null\r\n      },\r\n      \"id\": \"/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/resourceGroups/AzureAuthzSDK/providers/Microsoft.Storage/storageAccounts/authzsdktestresource/providers/Microsoft.Authorization/denyAssignments/94e3d9da-3700-4113-aab4-15f6c173d794\",\r\n      \"type\": \"Microsoft.Authorization/denyAssignments\",\r\n      \"name\": \"94e3d9da-3700-4113-aab4-15f6c173d794\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"denyAssignmentName\": \"AzureAuthzSDK_C807D002-6D77-452F-A837-4692929D12FD\",\r\n        \"description\": \"Test deny assignment for AzureAuthzSDK\",\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"foo/*\"\r\n            ],\r\n            \"notActions\": [\r\n              \"foo/*/read\"\r\n            ],\r\n            \"dataActions\": [\r\n         [...]
